---
import { Container } from "../components/Container";
import { Text } from "../components/Text";
import Layout from "../layouts/Layout.astro";
import { JobList } from "../modules/curiculum/components/JobList";
import { jobs } from "../modules/curiculum/curiculum";

const textClass = "text-xl md:text-2xl !text-stone-400 pb-6";
---

<Layout title="Marvin Frachet">
  <main>
    <Container>
      <div class="max-w-3xl">
        <Text
          as="h1"
          className="text-3xl md:text-4xl pb-4 motion-safe:opacity-0 motion-safe:animate-fade-enter-bottom"
        >
          Hello, my name is Marvin
        </Text>

        <div
          class="motion-safe:opacity-0 motion-safe:animate-fade-enter-bottom"
          style={{ animationDelay: "300ms" }}
        >
          <Text as="p" className={textClass}>
            I'm building apps with React and React native. When I step back from
            the code editor, you can find me chilling with my family & friends,
            or boxing on the ring.
          </Text>
        </div>
      </div>

      <div
        class="motion-safe:opacity-0 motion-safe:animate-fade-enter-bottom"
        style={{ animationDelay: "500ms" }}
      >
        <div class="max-w-3xl">
          <Text as="h2" className="text-2xl md:text-3xl pt-2 md:pt-20">
            I used to work for great companies
          </Text>
        </div>

        <div class="pt-4 pb-8 md:pb-20">
          <JobList jobs={jobs} client:load />
        </div>

        <div class="max-w-3xl">
          <Text as="h2" className="text-2xl md:text-3xl pb-4 pt-8">
            The values that power me
          </Text>

          <Text as="h3" className={"font-semibold text-xl"}>Caring</Text>
          <Text as="p" className={textClass}>
            Prior to my role as a developer, I identify first and foremost as an
            individual and a father. My greatest emphasis lies on people, and I
            strongly believe in prioritizing them. As a developer, my objective
            is to offer valuable services to a wide range of individuals, aiming
            to make a positive impact on as many lives as I can.
          </Text>

          <Text as="h3" className={"font-semibold text-xl"}>Honesty</Text>
          <Text as="p" className={textClass}>
            We, as humans, are prone to errors. Regardless of the message's
            content, it must be communicated with kindness. It's crucial for me
            to remain grounded and to both provide and accept constructive
            feedback whenever it's needed.
          </Text>

          <Text as="h3" className={"font-semibold text-xl"}>Adventure</Text>
          <Text as="p" className={textClass}>
            "Adventure" in frontend engineering fuels the excitement of pushing
            user experience and technological boundaries. It's about fearlessly
            embracing new tools, experimenting with fresh concepts, and
            embarking on a journey to create experiences that captivate and
            inspire users in unexpected ways.
          </Text>
        </div>
      </div>
    </Container>
  </main>
</Layout>
