---
import { Analytics } from "@vercel/analytics/react";
import { Banner } from "../components/Banner";
import { Container } from "../components/Container";
import { Navbar } from "../components/Navbar";
import { Link } from "../components/Link";
import { get } from "../modules/feature-flags/get";

interface Props {
  title: string;
}

const { title } = Astro.props;

const ogImage = "/og.jpeg";

const description =
  "Frontend Engineer building application with React, React Native and TypeScript. I'm navigating the JavaScript world learning new things and meeting amazing people.";

const showHiringBanner = await get("showHiringBanner");
---

<!doctype html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="canonical" href="https://mfrachet.com" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta
      name="keywords"
      content="React, React Native, Cypress, Playwright, Jest, Accessibility, VoiceOver, Testing automation, MSW, Mocking, E2E testing, Integration Testing"
    />

    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={ogImage} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@mfrachet" />
    <meta name="twitter:site" content="@mfrachet" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:image:alt" content={title} />
  </head>
  <body class="min-h-full h-full bg-stone-900 pb-4 md:pb-12">
    {
      showHiringBanner && (
        <Banner>
          <span aria-label="An orange pumpkin carved into the shape of a face and commonly known as a Jack-o'-lantern">
            🎃
          </span>
          I'm open for opportunities, preferably in Europe & full remote, you
          can reach out at{" "}
          <Link href="mailto:marvin@frachet.eu" target="_blank" variant="light">
            marvin@frachet.eu
          </Link>
        </Banner>
      )
    }
    <Container>
      <Navbar />
    </Container>
    <slot />
    <Analytics />
  </body>
</html>
<style is:global>
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
