---
import { ViewTransitions } from "astro:transitions";
import { Analytics } from "@vercel/analytics/react";
import { Banner } from "../components/Banner";
import { Container } from "../components/Container";
import { Navbar } from "../components/Navbar";
import { Link } from "../components/Link";
import AbsoluteBg from "../components/AbsoluteBg.astro";

interface Props {
  title: string;
  heroImage?: string;
}

const { title, heroImage } = Astro.props;

const ogImage = "/og.jpeg";

const description =
  "Frontend Engineer building application with React, React Native and TypeScript. I'm navigating the JavaScript world learning new things and meeting amazing people.";
---

<!doctype html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="canonical" href="https://mfrachet.com" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta
      name="keywords"
      content="React, React Native, Cypress, Playwright, Jest, Accessibility, VoiceOver, Testing automation, MSW, Mocking, E2E testing, Integration Testing"
    />

    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={ogImage} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@mfrachet" />
    <meta name="twitter:site" content="@mfrachet" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:image:alt" content={title} />
    <ViewTransitions />
  </head>
  <body class="min-h-full h-full bg-zinc-900 pb-4 md:pb-12">
    {heroImage && <AbsoluteBg image={heroImage} />}

    <div class="relative z-10">
      <Banner>
        Want to get in touch?{" "}
        <Link href="mailto:marvin@frachet.eu" target="_blank" variant="light">
          marvin@frachet.eu
        </Link>
      </Banner>

      <Container>
        <Navbar />
      </Container>

      <div class="pt-48 lg:pt-40">
        <slot />
      </div>
    </div>

    <Analytics client:load />
  </body>
</html>
<style is:global>
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    letter-spacing: 0.03em;
  }

  .image-container img {
    display: block;
    width: 100%;
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #18181b);
    pointer-events: none; /* Make sure gradient overlay doesn't interfere with clicks */
  }

  .anchor-link {
    font-size: 0.8em;
    opacity: 0.25;
    margin-left: -1.3em;
    margin-right: 0.4em;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
  }

  .anchor-link:hover,
  .anchor-link:focus {
    opacity: 1;
  }

  .toc-post {
    @apply sticky top-5 pl-6 text-sm translate-x-full;
  }

  .toc-level-1 {
    position: absolute;
  }

  .toc-post ol,
  .toc-post li {
    @apply pb-1 last:pb-0 mt-0 mb-0;
  }
</style>
